.timelineContainer {
  margin-top: 52px;
}

/* Tablet & Large Mobile */
@media (max-width: 768px) {
  .timelineContainer {
    margin-top: 36px;
  }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
  .timelineContainer {
    margin-top: 24px;
  }
}